body {
    background-color: rgba(221, 222, 221, 0.867);
}

a{
    text-decoration: none;
    position: absolute;
    top:25px;
    right: 250px;
    z-index: 2;
}

#picture {
    width: 1000px;
    position: relative;
    left: 200px;
    top: -20px;
}

#first_picture > * {
    width: 150px;
    height: 150px;
    position: relative;
    top: 150px;
    left:50px;
    z-index: 2;
}

#second_picture > * {
    width: 1000px;
    height: 200px;
    border-radius: 20px;
    position: relative;
    top: -100px;
    z-index: 1;

}

#main_2{
    position: absolute;
    right: 750px;
    z-index: 2;
}

#content{
    background-color: white;
    width: 1000px;
    position: absolute;
    left: 200px;
    top:350px;
    border-radius: 20px;
    padding-left: 30px;
    min-height: 200px;

}

#commenter{
    position: absolute;
    left: 780px;
    top:450px
}

#tweet{
    position: absolute;
    left: 950px;
    top:380px;
    z-index:2;
}
 
